* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {

    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
main {
    width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #252525;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-image: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%)1;
    /* background-color: rgb(58, 58, 58); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1 {
    background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    text-align: center;
}
article {
    width: 90%;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
article h2 {
    font-size: 75px;
    color: white;
}
article h3 {
    font-size: 45px;
    color: white;
    margin-bottom: 25px;
    margin-top: 50px;
}
article p{
    color: white;
    font-size: 25px;
    margin-left: 25px;
}
code {
    background-color: #313553;
    color: rgb(127, 142, 177);  
    display: block;
    width:fit-content;
    margin: 25px;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}
article img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 500px;
}
.imgDiv {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
ul {
  color: white;
}
footer {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    color: rgb(213, 213, 213);
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    background-color: #232323;
}

@media (max-width: 1030px) {
    main {
        width: 100vw;
    }
}
@media (max-width: 700px) {
    article img{
        width: 100%;
    }
    main {
        width: 100vw;
    }
    code {
        margin: 0;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        overflow-x: scroll;
    }
}